@charset "utf-8";

html.wf-design-mode .guide_wrap { display: block; }

.guide_layout { counter-reset: gridguides 0; }

.guide_layout > div::before { counter-increment: gridguides 1; content: counter(gridguides); }